@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import "animate.css";
@font-face {
  font-family: SDGeorgiaLight;
  src: url(../fonts/SDGeorgiaLight/SDGeorgiaLight.eot?#iefix) format("embedded-opentype"), url(../fonts/SDGeorgiaLight/SDGeorgiaLight.woff) format("woff"), url(../fonts/SDGeorgiaLight/SDGeorgiaLight.ttf) format("truetype"), url(../fonts/SDGeorgiaLight/SDGeorgiaLight.svg#SDGeorgiaLight) format("svg");
  font-weight: 400;
  font-style: normal;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {font-weight:bold;}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 300 13px/19px Montserrat, sans-serif;
  color: #000;
}

h1 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 40px;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

p {
  margin: 15px 0;
}

a {
  text-decoration: none;
}

.in {
  display: block !important;
}

.hidden {
  display: none!important;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.text-overflow {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.for-img {
  text-align: center;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.full-img {
  position: relative;
  overflow: hidden;
}

.full-img:before {
  display: block;
  content: "";
}

.full-img .cover-img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover"
}

.card-img {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-img:before {
  display: block;
  content: '';
}

.card-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.select {
  position: relative;
  width: 100%;
}

.select-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 30;
}

.select-option {
  cursor: pointer;
}

.select-option_selected {
  position: relative;
  margin: 0;
  padding-right: 15px;
}

.select-option_selected:after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent
}

.tab-toggle {
  display: inline-block;
  cursor: pointer
}

.tab-content {
  display: block
}

.tab-content_active {
  display: block
}

.input-wrap {
  position: relative
}

.btn {
  display: inline-block;
  width: auto;
  min-width: 206px;
  padding: 13px 10px 14px 10px;
  background: #3e6d00;
  border: none;
  text-align: center;
  font: 300 16px/19px Montserrat, sans-serif;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.btn:hover {
  opacity: .8
}

.btn_lg {
  width: 100%;
  min-width: inherit
}

.check li {
  position: relative;
  margin-bottom: 19px;
  padding-left: 28px
}

.check li:before {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  content: '';
  width: 13px;
  height: 9px;
  background: url(../img/check.png) no-repeat center
}

.text_main {
  color: #3e6d00
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.wrapper {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 68px;
  background: #fff
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px
}

.content-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 25px 16px 18px;
  background: #3e6d00;
  color: #fff;
  z-index: 110
}

.header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.header-logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 205px;
  -ms-flex: 0 0 205px;
  flex: 0 0 205px;
  margin-right: 50px
}

.header-logo img {
  display: block
}

.header-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%
}

.headerdisplay {
  display: block !important;
}

.header-wrap-inner {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.nav-item {
  margin-right: 48px
}

.nav-link {
  color: #fff
}

.nav-link:hover {
  text-decoration: underline
}

.header-search {
  margin: 0 auto
}

.header-search .form-text {
  display: block;
  height: 38px;
  min-width: 317px;
  padding: 0 60px 0 30px;
  background: #fff;
  border: none;
  -webkit-border-radius: 19px;
  border-radius: 19px
}

.header-search .button {
  position: absolute;
  right: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 14px;
  background: transparent url(../img/search-icon.png) no-repeat center;
  border: none;
  cursor: pointer
}

.header-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 42px;
  color: #fff
}

.header-language {
  margin: 0 15px
}

.header-language a {
  color: inherit
}

.header-language ul {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 5px 10px;
  background: #3e6d00
}

.header-basket {
  margin: 0 10px
}

.header-login {
  margin: 0 10px
}

.header-login a {
  color: #fff
}

.header-login a:hover {
  text-decoration: underline
}

.mobile-burger {
  position: relative;
  display: none;
  width: 27px;
  height: 20px;
  z-index: 100;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2
}

.mobile-burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px
}

.mobile-burger .top {
  top: 0
}

.mobile-burger .middle {
  top: 8px
}

.mobile-burger .bottom {
  top: 16px
}

.mobile-burger.active .top {
  top: 10px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg)
}

.mobile-burger.active .middle {
  top: 10px;
  opacity: 0
}

.mobile-burger.active .bottom {
  top: 10px;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg)
}

.header-search_mobile {
  display: none;
  width: 100%;
  padding: 15px;
  background: #fff
}

.header-search_mobile .form-text {
  width: 100%;
  border: 1px solid #bebdbd
}

.left-aside {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 258px;
  height: 100%;
  padding: 91px 20px;
  background: #fff;
  z-index: 100;
  color: #000;
  overflow: scroll;
}

.left-aside .show-aside {
  display: none;
  width: 100%;
  padding: 10px 15px 9px;
  background: #bababa;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer
}

.left-aside a {
  color: inherit
}

.left-aside a:hover {
  text-decoration: underline
}

.left-aside .acc-header {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 0 9px 17px;
  cursor: pointer
}

.left-aside .acc-header:hover {
  color: #3e6d00;
  font-weight: 500
}

.left-aside .acc-header:after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent
}

.left-aside .acc-body {
  display: none;
  padding: 0 0 0 17px
}

.left-aside .acc-body li {
  padding: 5px 0
}

.left-aside .category-submenu .acc-header {
  padding: 0 0 0 10px
}

.left-aside .category-submenu .acc-body {
  padding: 5px 0 5px 30px
}

.content-inner, 
.category-page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 258px;
  padding: 20px 37px 0 17px
}

.content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%
}

.content-inner .content iframe {
  width: 100%;
  height: 600px;
}

.bunner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 130px;
  margin-bottom: 34px;
  padding: 20px 0 24px;
  background: url(../img/bunner_et.png) no-repeat left;
  -webkit-background-size: cover;
  background-size: cover
}

.bunner_en {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 130px;
  margin-bottom: 34px;
  padding: 20px 0 24px;
  background: url(../img/bunner_en.png) no-repeat left;
  -webkit-background-size: cover;
  background-size: cover
}

.bunner_fi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 130px;
  margin-bottom: 34px;
  padding: 20px 0 24px;
  background: url(../img/bunner_fi.png) no-repeat left;
  -webkit-background-size: cover;
  background-size: cover
}

.bunner-title {
  margin: 0;
  padding: 0 33px;
  font: 29px/40px SDGeorgiaLight;
  color: #7cb135;
  letter-spacing: 2.5px
}

.bunner-subtitle {
  display: block;
  width: 100%;
  min-width: 463px;
  margin: 0;
  padding: 5px 33px;
  /* background: rgba(7, 7, 7, .35); */
  font: 16px/19px SDGeorgiaLight;
  color: #fff;
  letter-spacing: .8px
}

.products .product-list {
  margin-top: -17px
}

.product-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -17px
}

.product-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding: 0 17px
}

.product-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 17px 0;
  background: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .35);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .35);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.product-item:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5)
}

.product-img {
  border-bottom: 1px solid #cac6c6
}

.product-img:before {
  padding-top: 67.15%
}

.product-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 19px 10px 12px;
  text-align: center
}

.product-name {
  font: 400 15px/20px Montserrat, sans-serif;
  color: #393838
}

.product-price {
  font: 400 26px/40px Montserrat, sans-serif;
  color: #4c8402
}

.sponsors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px -15px
}

.sponsors-col {
  padding: 8px 14px 8px 15px
}

.sponsors-col img {
  display: block
}

.content-aside {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 26.4%;
  -ms-flex: 0 0 26.4%;
  flex: 0 0 26.4%;
  max-width: 340px;
  margin-left: 18px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .35);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .35)
}

.aside-block-header {
  padding: 10px 10px 10px 29px;
  background: #de3018;
  font: 500 28px/31px Montserrat, sans-serif;
  color: #fff
}

.aside-block-body {
  padding: 0 20px 0 30px
}

.news-preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 26px 0 27px 0;
  border-bottom: 1px solid #eae6e7
}

.news-preview-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50px;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  margin-right: 15px
}

.news-preview-img:before {
  padding-top: 100%
}

.news-preview-text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  padding-top: 6px;
  font: 600 12px/16px Montserrat, sans-serif
}

.news-preview-text a {
  color: #3e6d00
}

.news-preview-text a:hover {
  text-decoration: underline
}

.breadcrumbs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font: 400 12px/20px Montserrat, sans-serif;
  color: #3e6d00
}

.breadcrumbs-link {
  display: inline-block;
  margin: 10px 0;
  color: #3e6d00;
  text-decoration: underline
}

.breadcrumbs-link:hover {
  text-decoration: none
}

.breadcrumbs-sep {
  display: inline-block;
  margin: 10px 7px
}

.breadcrumbs-link_current {
  color: #898888;
  text-decoration: none;
  cursor: default;
  pointer-events: none
}

.product-title {
  margin: 11px 0
}

.product-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 58px
}

.product-image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 273px;
  margin-right: 4%;
  background: #fafafa;
  border: 1px solid #d7d7d7
}

.product-image:before {
  padding-top: 100%
}

.product-descr {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  color: #393838;
  max-width: 310px
}

.product-descr .btn {
  margin-left: 26px
}

.product-additional {
  padding-bottom: 29px
}

.product-additional .tabs-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #bebdbd
}

.product-additional .tabs-header > .active {
  background: #bebdbd;
  color: #fff;
}

.product-additional .tab-toggle {
  min-width: 175px;
  padding: 0 10px;
  text-align: center;
  font: 400 14px/44px Montserrat, sans-serif;
  color: #a3a3a3
}

.product-additional .tab-toggle_active {
  background: #bebdbd;
  color: #fff
}

.product-additional .tab-content {
  padding: 13px 0
}

.product-additional .table {
  display: inline-block;
  width: 100%;
  font-weight: 300
}

.product-additional .table-tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0
}

.product-additional .table-tr:last-child {
  margin-bottom: 0
}

.product-additional .table-tr p {
  margin: 2px 0;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

.product-additional .table-tr_header {
  margin-bottom: 14px;
  font-weight: 600;
  text-transform: uppercase
}

.product-additional .name {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-right: 20px
}

.product-additional .location {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 90px;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  padding: 0 8px;
  text-align: center;
  font-weight: 600
}

.product-additional .number-all {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  padding: 0 8px;
  text-align: center;
  font-weight: 600
}

.product-additional .time {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  padding: 0 8px;
  text-align: center;
  font-weight: 600
}

.product-additional .price {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  padding: 0 8px;
  text-align: center;
  font-weight: 600
}

.product-additional .number {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 52px;
  -ms-flex: 0 0 52px;
  flex: 0 0 52px;
  padding: 0 8px
}

.product-additional .number input {
  display: block;
  width: 100%;
  height: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #d7d7d7;
  font-size: 16px;
  color: #a3a3a3
}

.product-additional .action {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75px;
  -ms-flex: 0 0 75px;
  flex: 0 0 75px
}

.product-additional .action .btn {
  width: 100%;
  min-width: inherit;
  padding: 3px 5px 3px 5px;
  font-size: 11px;
  line-height: 14px
}

.product-additional .table-label {
  font-weight: 600
}

.table-list .table-wrap {
  margin: 0 -15px
}

.table-list .table {
  padding: 10px 15px
}

.table-list .table-wrap:nth-child(odd) .table {
  background: #dcefc3
}

.footer {
  position: relative;
  min-height: 71px;
  margin-top: auto;
  padding: 14px 0 17px;
  background: #d1d1d1;
  font: 300 13px/20px Montserrat, sans-serif;
  color: #212121;
  z-index: 110
}

.footer a {
  color: inherit
}

.footer a:hover {
  text-decoration: underline
}

.footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.footer-copy {
  width: 276px;
  padding: 0 37px;
  color: #545454
}

.footer-block {
  min-width: 300px;
  padding-right: 20px
}

.footer-label {
  font-weight: 500
}

.popup-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, .59);
  z-index: 200
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  max-width: 95%;
  max-height: 95%;
  background: #fff;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .18);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .18);
  overflow-y: auto
}

.popup-header {
  padding: 13px 50px 16px
}

.popup-close {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/close.png) no-repeat center;
  cursor: pointer
}

.popup-title {
  text-align: center;
  font-weight: 400;
  letter-spacing: -.5px
}

.popup-body {
  padding: 0 50px 15px
}

.registration {
  max-width: 710px
}

.login,
.reset {
  max-width: 388px
}

.login button.btn,
.reset button.btn {
  margin-top: 14px
}

.redirect-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.redirect-action > a {
  cursor: pointer;
}

.form-row {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -27px
}

.form-col-6 {
  width: 50%;
  padding: 0 27px
}

.form-col-12 {
  width: 100%;
  padding: 0 27px
}

.form-group {
  width: 100%;
  margin-bottom: 20px
}

.form-group p {
  margin: 18px 0;
  text-align: right;
  font-weight: 600
}

.form-group p a {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  color: #3e6d00
}

.form-label {
  display: block;
  margin: 5px 0;
  font-weight: 600;
  color: #393838
}

.form-text {
  display: block;
  width: 100%;
  height: 47px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #d7d7d7
}

.alert.alert-danger {
  background: #ff2a00; 
}

.alert.alert-danger,
.alert.alert-success{
  color: #721c24;
  top: 25px;
  position: fixed;
  width: 96%;
  margin: 0 2% 0 2%;
  z-index: 2000;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 20px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.alert-success{ 
  border-color: #c3e6cb;
  color: #155724;
  background-color: #d4edda;
}

.notifications .alert-dismissible button {
  background: transparent;
  border: none;
  float: right;
  font-size: 16px;
}

.notifications .alert-dismissible button:hover {
  cursor: pointer;
}

.notifications .alert-danger.alert-dismissible button {
  color: #721c24;
}

.notifications .alert-success.alert-dismissible button {
  color: #155724;
}

@media screen and (max-width:1365px) {
  .nav-item {
      margin-right: 20px
  }
  .header-action {
      margin-left: 0
  }
  .content-inner, .category-page-header {
      padding: 20px 15px 0 15px
  }
  .product-list {
      margin: 0 -10px
  }
  .products .product-list {
      margin-top: -10px
  }
  .product-col {
      padding: 0 10px
  }
  .product-item {
      margin: 10px 0
  }
}

@media screen and (max-width:1199px) {
  .header {
      padding: 15px
  }
  .header-logo {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 180px;
      -ms-flex: 0 0 180px;
      flex: 0 0 180px;
      margin-right: 30px
  }
  .header-search .form-text {
      min-width: 200px
  }
  .header-login {
      margin: 0 0 0 10px
  }
  .left-aside {
      width: 210px;
      padding: 91px 10px
  }
  .left-aside .acc-header {
      padding: 8px 10px 8px 5px
  }
  .left-aside .acc-header:after {
      right: 0
  }
  .content-inner, .category-page-header {
      margin-left: 210px
  }
  .table-list .table-wrap {
      margin: 0
  }
  .footer-copy {
      width: 230px;
      padding: 0 20px
  }
  .footer-block {
      min-width: 230px
  }
}

@media screen and (max-width:1024px) {
  .wrapper {
      padding-top: 63px
  }
  .header-inner {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between
  }
  .header-search {
      display: none
  }
  .header-search_mobile {
      display: block
  }
  .header-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
      padding: 20px 15px;
      background: #3e6d00
  }
  .header-wrap-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start
  }
  .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column
  }
  .nav-item {
      margin: 10px 0
  }
  .header-action {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start
  }
  .header-basket,
  .header-language,
  .header-login {
      margin: 10px 0
  }
  .header-language ul {
      position: relative;
      padding: 5px 0
  }
  .mobile-burger {
      display: block
  }
  .left-aside {
      position: static;
      width: 100%;
      padding: 0 15px
  }
  .left-aside .show-aside {
      display: block
  }
  .aside {
      display: none;
      padding: 10px 40px
  }
  .content-inner, .category-page-header {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: 0
  }
  .content-aside {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: none;
      margin-left: 0
  }
  .footer-block,
  .footer-copy {
      width: 100%;
      margin-bottom: 10px;
      padding: 0 15px;
      text-align: center
  }
}

@media screen and (max-width:767px) {
  .content {
      width: 100%
  }
  .product-col {
      width: 50%
  }
  .table-wrap {
      overflow: auto
  }
  .table-wrap .table {
      width: 738px
  }
}

@media screen and (max-width:575px) {
  .bunner-title {
      padding: 0 15px
  }
  .bunner-subtitle {
      padding: 0 8px;
      min-width: inherit
  }
  .product-col {
      width: 100%
  }
  .product-info {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
  }
  .product-image {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: none;
      margin: 0 0 20px 0
  }
  .product-descr {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: none
  }
  .product-additional .tab-toggle {
      min-width: 115px
  }
}

@media screen and (min-width:1025px) {
  .header-wrap {
      display: block!important
  }
}